Redirect /gsoc.html /gsoc/
Redirect /gsoc-admin-tasks.html /gsoc/gsoc-admin-tasks.html
Redirect /guide-to-being-a-mentor.html /gsoc/guide-to-being-a-mentor.html
Redirect /mentee-ranking-process.html /gsoc/mentee-ranking-process.html
Redirect /use-the-comdev-issue-tracker-for-gsoc-tasks.html /gsoc/use-the-comdev-issue-tracker-for-gsoc-tasks.html

Redirect /mentoringprogramme.html /mentoring/
Redirect /mentoring/experiences.html /gsoc/experiences.html

RedirectMatch ^/tags/$ /tags.html

Redirect /calendars/conferences.html https://events.apache.org/
Redirect /calendars/ https://events.apache.org/

Redirect /gettingStarted/101.html /newcomers/gettingStarted.html

# Consolidate decision-making pages
Redirect /committers/voting.html /committers/decisionMaking.html
Redirect /committers/consensusBuilding.html /committers/decisionMaking.html
Redirect /committers/lazyConsensus.html /committers/decisionMaking.html

# Speakers app is being deprecated
Redirect /speakers/speakers.html /speakers/

