<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {{ template "breadcrumb" dict "currentPage" .Page "id" .Key }}
  </ol>
</nav>

{{ define "breadcrumb" }}
  {{ if .currentPage.Parent }}
    {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}

    <li class="breadcrumb-item">
      {{ if eq .id .currentPage.Key }}
        {{ .currentPage.Title }}
      {{ else }}
        {{ with .currentPage }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      {{ end }}
    </li>
  {{ end }}
{{ end }}
