{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" "/" }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
            <li class="breadcrumb-item"><a href='{{ $.Scratch.Get "path" }}'>{{ replace (humanize .) ".html" "" }}</a></li>
            {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
  </ol>
</nav>

