{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" "/" }}
<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
            <li><a href='{{ $.Scratch.Get "path" }}'>{{ replace (humanize .) ".html" "" }}</a> <span class="divider">/</span></li>
            {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
</ul>
