<a class="navbar-brand" href="/">
    <img src="/images/asf_logo.svg" alt="Apache Software Foundation">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <div class="container"> <!-- this one is required to center Nav -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home
            </a>
            <div class="dropdown-menu" aria-labelledby="homeDropdown">
              <a class="dropdown-item" href="/">Homepage</a>
              <a class="dropdown-item" href="/tags.html">Tags</a>
              <a class="dropdown-item" href="/blog/">Blog</a>
              <a class="dropdown-item" href="/tags/navigation.html">Navigation pages</a>
            </div>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="aboutDropdown">
            <a class="dropdown-item" href="/about/">What We Do</a>
            <a class="dropdown-item" href="/newbiefaq.html">Frequently Asked Questions</a>
            <a class="dropdown-item" href="/projectIndependence.html">Apache Project Independence</a>
            <a class="dropdown-item" href="/apache-way/apache-project-maturity-model.html">Apache Project Maturity Model</a>
            <a class="dropdown-item" href="/contactpoints.html">Contact Points Within the ASF</a>
            <a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/Community_Development.html#2009-11-01">ComDev Original Board Resolution</a>
            <a class="dropdown-item" href="https://whimsy.apache.org/board/minutes/Community_Development.html">ComDev Board Reports</a>
            <a class="dropdown-item" href="https://issues.apache.org/jira/projects/COMDEV">Community Development Jira</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-uppercase disabled" href="#">About Apache</a>
            <a class="dropdown-item" href="https://www.apache.org/">The Apache Software Foundation</a>
            <a class="dropdown-item" href="https://www.apache.org/foundation/sponsorship">Sponsor Apache</a>
            <a class="dropdown-item" href="http://diversity.apache.org/">Diversity & Inclusion</a>
             <a class="dropdown-item" href="/contributors/asf-volunteers.html">Mentors &amp; Speakers</a>
            <a class="dropdown-item" href="https://www.apache.org/foundation/thanks">Thanks to our Sponsors</a>
            <a class="dropdown-item" href="https://www.apache.org/licenses">License</a>
            <a class="dropdown-item" href="https://www.apache.org/security">Security</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contribDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contributing
          </a>
          <div class="dropdown-menu" aria-labelledby="contribDropdown">
            <a class="dropdown-item" href="/contributors/">About The Apache Software Foundation</a>
            <a class="dropdown-item" href="/contributor-ladder.html">Contributor Ladder</a>
            <a class="dropdown-item" href="/newcomers/">Getting Started at Apache</a>
            <a class="dropdown-item" href="https://www.apache.org/dev/">Technical Developer FAQs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-uppercase disabled" href="#">Committers and PMCs</a>
            <a class="dropdown-item" href="/committers/">Committer Tips</a>
            <a class="dropdown-item" href="/committers/decisionMaking.html">Decision Making</a>
            <a class="dropdown-item" href="/committers/funding-disclaimer.html">Funding Campaign Disclaimer</a>
            <a class="dropdown-item" href="/committers/good-first-issues.html">Good First Issues</a>
            <a class="dropdown-item" href="/pmc/">PMC Tips</a>
            <a class="dropdown-item" href="/pmc/community-growth.html">Recruiting New Contributors</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="commitDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GSoC</a>
          <div class="dropdown-menu" aria-labelledby="gsocDropdown">
            <a class="dropdown-item" href="/gsoc/">Google Summer Of Code Information</a>
            <a class="dropdown-item" href="/gsoc/mentee-ranking-process.html">Mentee Ranking Process</a>
            <a class="dropdown-item" href="/gsoc/experiences/">Past GSoC Experiences</a>
            <a class="dropdown-item" href="/gsoc/guide-to-being-a-mentor.html">Guide to being a Mentor</a>
            <a class="dropdown-item" href="/gsoc/use-the-comdev-gsoc-issue-tracker-for-gsoc-tasks.html">Using ComDev's Jira for GSoC Ideas</a>
            <a class="dropdown-item" href="/gsoc/gsoc-admin-tasks.html">Tasks of a GSoC Admin at the ASF</a>
            <a class="dropdown-item" href="https://issues.apache.org/jira/projects/GSOC">GSoC Jira</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="eventDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="eventDropdown">
            <a class="dropdown-item" href="https://apachecon.com/">Community Over Code - (formerly ApacheCon)</a>
            <a class="dropdown-item" href="https://events.apache.org/">Other Apache-related Events</a>
            <a class="dropdown-item" href="https://www.apache.org/foundation/marks/events">Apache event branding policies</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-uppercase disabled" href="#">Conference Speakers</a>
            <a class="dropdown-item" href="/speakers/">Speaker resources</a>
            <a class="dropdown-item" href="/speakers/slides.html">Sample presentations</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="conversDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Working Groups
          </a>
          <div class="dropdown-menu" aria-labelledby="wgDropdown">
            <a class="dropdown-item" href="/workinggroups/">Working Groups</a>
            <a class="dropdown-item" href="https://github.com/apache/comdev-working-groups">Git repositories</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="conversDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join the Conversation
          </a>
          <div class="dropdown-menu" aria-labelledby="conversDropdown">
            <a class="dropdown-item" href="/blog/">Blog</a>
            <a class="dropdown-item" href="https://www.facebook.com/ApacheSoftwareFoundation">Facebook</a>
            <a class="dropdown-item" href="https://twitter.com/ApacheCommunity">Twitter</a>
            <a class="dropdown-item" href="/lists.html">Mailing List</a>
            <a class="dropdown-item" href="https://cwiki.apache.org/confluence/display/COMDEV/Apache+Local+Community+-+ALC">ALC: Apache Local Communities</a>
          </div>
        </li>
      </ul>
    </div>
  </div><!--/.navbar-collapse -->
