<!DOCTYPE html>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<html>
<head>
  <META name="description" content="Apache Community Development"/>
  <META name="keywords" content="apache, apache community, community development, opensource"/>

  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
	  /* Google Search box customizations */
	   .gsc-search-box input.gsc-input, .gcse-search-box input.gsc-input:focus { -webkit-box-shadow:none; box-shadow:none; -moz-box-shadow:none; border-radius:0px; }
		/* On tablets, the wrapped menu is hiding the search box, adding a margin to push down */
		 .container { margin-top:5px; }
  </style>
  

  <LINK rel="SHORTCUT ICON" href="images/favicon.ico">   
  <TITLE>Apache Community Development - {% block title %}{{ headers.title }}{% endblock %}</TITLE>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="brand" href="#">Apache Community Development Project</a> -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about/">What We Do</a></li>
                  <li><a href="/newbiefaq.html">Frequently Asked Questions</a></li>
                  <li><a href="/projectIndependence.html">Apache Project Independence</a></li>
                  <li><a href="/apache-way/apache-project-maturity-model.html">Apache Project Maturity Model</a></li>
                  <li><a href="/contactpoints.html">Contact Points Within the ASF</a></li>
                  <li><a href="/comdevboardresolution.html">ComDev Original Board Resolution</a></li>
                  <li><a href="https://whimsy.apache.org/board/minutes/Community_Development.html">ComDev Board Reports</a></li>
                  <li><a href="/links.html">Links to additional material</a></li>
                  <li><a
                  href="https://issues.apache.org/jira/projects/COMDEV">Community
                  Development JIRA</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Contributors <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/newcomers/">Newcomers</a></li>
                  <li><a href="/gettingStarted/101.html">Getting Started</a></li>
                  <li><a href="/contributors/">Finding Your Way Around The Apache Software Foundation</a></li>
				  <li><a href="http://www.apache.org/dev/">Technical Developer FAQs</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Google Summer of Code</li>
                  <li><a href="/gsoc.html">Google Summer Of Code Information</a></li>
                  <li><a href="/mentee-ranking-process.html">Mentee Ranking Process</a></li>
                  <li><a href="/mentoring/experiences.html">Past GSoC Experiences</a></li>
                  <li><a href="/guide-to-being-a-mentor.html">Guide to being a Mentor</a></li>
                  <li><a href="/use-the-comdev-issue-tracker-for-gsoc-tasks.html">Using ComDev's JIRA for GSoC Ideas</a></li>
                  <li><a href="/gsoc-admin-tasks.html">Tasks of a GSoC Admin at the ASF</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">For Committers/PMCs <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/newcommitter.html">Recruiting New Committers</a></li>
                  <li><a href="/committers/">Useful Information for Committers</a></li>
                  <li><a href="/committers/consensusBuilding.html">Consensus Building</a></li>
                  <li><a href="/committers/lazyConsensus.html">Lazy Consensus</a></li>					
                  <li><a href="/committers/decisionMaking.html">Decision Making</a></li>
                  <li><a href="/committers/voting.html">Voting</a></li>
                  <li><a href="/committers/funding-disclaimer.html">Funding Campaign Disclaimer</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mentoring <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/mentoringprogramme.html">Mentoring Program</a></li>
                  <li><a href="/mentorprogrammeformaleducation.html">Mentoring in Formal Education</a></li>
                  <li><a href="/mentorprogrammeapplication.html">Applying for the Mentoring Program</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Additional Resources</li>
                  <li><a href="/guide-to-being-a-mentor.html">Guide to being a Mentor</a></li>
                  <li><a href="/mentor-request-mail.html">Mentor Request Email Example</a></li>
                  <!-- <li><a href="/localmentors.html">Mentors Near You</a></li> -->
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">
				  <li><a href="http://apachecon.com/">ApacheCon - The official event of the ASF</a></li>
                  <li><a href="/calendars/">Major Apache-related Events</a></li>
                  <li><a href="http://www.apache.org/events/meetups.html">Upcoming Apache-related meetups</a></li>
                  <li><a href="http://www.apache.org/foundation/marks/events">Apache event branding policies</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Speakers</li>
                  <li><a href="/speakers/">Speaker Information</a></li>
                  <li><a href="/speakers/speakers.html">Finding Speakers / Listing Yourself as a Speaker</a></li>
                  <li><a href="/speakers/slides.html">Apache-related Slides</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join the Conversation<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.facebook.com/ApacheSoftwareFoundation">Facebook</a></li>
                  <li><a href="http://twitter.com/ApacheCommunity">Twitter</a></li>
                  <li><a href="/lists.html">Mailing List</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">
    <section id="content" class="row">
      <div class="span9">
        <h3 class="muted">The Apache Software Foundation</h3>
      </div>
      <div class="span3 pull-right">
        <div class="gcse-search"></div>
  	  </div>
      <div class="span12"><h4 class="muted">Community &gt; Code</h4></div>
    </section>
    {{ breadcrumbs|safe }}
   <hr>
    {% block content %}{% endblock %}
  </div>
  
  <footer class="footer" align="center">
    <div class="container">
      <p>
		Copyright&copy; 2020, the Apache Software Foundation. Licensed under the <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a><br/>
		Apache&reg;, the names of Apache projects, and the multicolor feather logo are <a href="https://www.apache.org/foundation/marks/list/">registered trademarks or trademarks</a> of the Apache Software Foundation in the United States and/or other countries.
      </p>
    </div>
  </footer>
  
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    (function() {
      var cx = '012254517474945470291:vhsfv7eokdc';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>
</html>
